# OpenAI environment variables
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=your_model# default "gpt-4-turbo"

# GitHub environment variables
GITHUB_TOKEN=your_github_token
GITHUB_REVIEW_ALL_FILES=true/false# default true, if false, only files with .py, .js, .ts, .java, .cpp, .go, .rs extensions will be reviewed
GITHUB_MAX_FILE_SIZE=your_max_file_size_in_bytes# default 1MB
